<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Angular Intro.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Angular Intro.js - Angular wrapper for intro.js">


    <!-- styles -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/demo.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Add IntroJs styles -->
    <link href="../lib/introjs.css" rel="stylesheet">


</head>

<body >

<div class="container-narrow" ng-controller="MyController"
     ng-intro="" ng-intro-options="IntroSnippets" ng-intro-method="CallMe"
     ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
     ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent">

    <div class="masthead">
        <ul id="step5" class="nav nav-pills pull-right">
            <li><a href="https://github.com/mendhak/angular-intro.js/blob/master/angular-intro.js"><i class='icon-black icon-download-alt'></i> Download</a></li>
            <li><a href="https://github.com/mendhak/angular-intro.js">Github</a></li>
        </ul>
        <h3 class="muted">Angular-Intro.js</h3>
    </div>

    <hr>

    <div class="jumbotron">
        <h1 id="step1">Angular Intro.js</h1>
        <p id="step4" class="lead">This example uses angular directives to invoke intro.js</p>
        <a class="btn btn-large btn-success" ng-click="CallMe();">Show me how</a>
        <a class="btn btn-large btn-success" ng-click="CallMe(3);">Start at step 3</a>
        <a class="btn btn-large btn-success" ng-click="CallMe('#step3');">Start at element #step3</a>
    </div>

    <hr>

    <div class="row-fluid marketing">
        <div id="step2" class="span6">
            <h4>Section One</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>

            <h4>Section Two</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>

            <h4>Section Three</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>
        </div>

        <div id="step3" class="span6">
            <h4>Section Four</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>


            <h4>Section Five</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>

            <h4>Section Six</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>
        </div>
    </div>

    <hr>

</div>
<script type="text/javascript" src="../lib/intro.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="../angular-intro.js"></script>
<script src="../lib/app.js"></script>

</body>
</html>